body {
    background-color: rgb(48, 113, 211);
}

.btn {
    border-radius: 8px;
}

.card {
    position: relative;
    padding: 1rem;
    border-color: darkgray;
    border-radius: 8px;
}

.form-control {
    border-radius: 8px;
    border-color: darkgray;
}

.bg {
    margin: 1rem;
    background-color: white;
}

h1 {
    text-align: center;
}

.center {
    margin: 0;
    position: relative;
    left: 50%;
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
    text-align: center;
}

.btnlogout {
    font-size: small;
}

.bookphoto {
    height:100%;
    border-radius: 8px;
}